@import url("../../styles/tokens.css");

.hero{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.hero__imagem{
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero__imagem img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
}






.hero__content{
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;

    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.hero__content-title{
    color: var(--color-text-inverse);

    font-size: 23px;
    font-family: var(--font-interface);
    word-spacing: var(--space-5);
    letter-spacing: 0.5px;

    margin-bottom: 1.5rem;
}

.hero__content-subtitle{
    width: 100%;
    color: var(--color-text-secondary);
    font-size: 25px;
}

.hero__actions{
    width: 45%;
    height: 20%;
    
    display: flex;
    align-items: end;
    justify-content: space-between;

    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-interface);
}

.hero__actions a{
    text-decoration: none;
}

.hero__actions .hero__actions-map{
    background-color: var(--color-accent);
    color: var(--color-text-primary);

    padding: var(--space-3) var(--space-6);

    box-shadow: var(--shadow-glow);
    border-radius: 999px;

    transition: filter 0.3s ease;
}

.hero__actions .hero__actions-map:hover{
    filter: brightness(120%);
    transition: filter 0.3s ease;
}


.hero__actions .hero__actions-history{
    background-color: var(--color-text-inverse);
    color: var(--color-text-primary);

    padding: var(--space-3) var(--space-6);

    box-shadow: var(--shadow-inverse);
    border-radius: 999px;
    border: var(--border-light);

    transition: filter 0.3s ease;

}

.hero__actions .hero__actions-history:hover{
    filter: brightness(80%);
    transition: filter 0.3s ease;
}